<h1>Jogo Cadastrados</h1>

<a href="/jogos/novo">Cadastrar novo jogo</a>

<table border = "1">
    <!-- table row -->
    <tr>
        <!--table head-->
        <th>Id</th>
        <th>Nome do Jogo</th>
        <th>Plataforma</th>
        <th>Gênero</th>
        <th>Preço</th>
        <th>Data de Lançamento</th>
    </tr>
    {{#each jogo}}
    <tr>
        <td>{{this.id}}</td>
        <td>{{this.nomedojogo}}</td>
        <td>{{this.plataforma}}</td>
        <td>{{this.genero}}</td>
        <td>{{this.preco}}</td>
         <td>{{this.datadenascimento}}</td>
            <td>
                <a href="/jogos/{{this.id}}/update">Atualizar</a>
                  <form action="/jogos/{{this.id}}/delete" method="post">
                      <input type="submit" value="Excluir"/>
                 </form>
            </td>
    </tr>
    {{/each}}


    <h1>Novo Jogo</h1>
<form action="/jogos/novo" method="POST">
  <label for="nome">Nome</label>
  <input type="text" id="nome" name="nome">
  <label for="genero">Gênero</label>
  <input type="text" id="genero" name="genero">
  <button type="submit">Cadastrar</button>
</form>
<a href="/jogos">Voltar</a>

    <h1>Detalhes do Jogo: {{jogo.nome}}</h1>
<p>Gênero: {{jogo.genero}}</p>
<h2>Conquistas</h2>
<ul>
  {{#each jogo.conquistas}}
    <li>{{this.titulo}}: {{this.descricao}}</li>
  {{/each}}
</ul>
<a href="/conquistas/novo/{{jogo.id}}">Adicionar Conquista</a>
<a href="/jogos">Voltar</a>
</table>